<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cluedo</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Cluedo</h1>
    <div id="app">
        <ul>
            <li v-for="(sospetto, i) in sospetti" @click="cambiaCurrent(i)">
                <span v-if="elementoAttivo == i">
                    {{sospetto.nome}}
                    <p>{{sospetto.descrizione}}</p>
                </span>
                <span v-else>
                    {{sospetto.nome}}
                </span>
            </li>
        </ul>

        <br>
        <ul>
            <li v-for="(sospetto, j) in sospetti" @click="cambiaCurrent(j)">
                <span :class="{ red: elementoAttivo == j }">
                    {{sospetto.nome}} {{sospetto.arma}} {{sospetto.stanza}}
                </span>

            </li>
        </ul>

    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>

</html>